.conteinerForm {
    width: 400px;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    background-color: #ffc4f8;
}

.title {
    margin-bottom: 10px;
    font-family: sans-serif;
    font-weight: 600;
    color: #545454;
}

.input {
    margin-bottom: 10px;
    padding: 4px;
    height: 100%;
    width: 200px;
    outline: none;
    border: none;
    border-radius: 5px;
    font-family: sans-serif;
    font-size: 15px;
    color: #545454;
}

.btn {
    padding: 4px;
    width: 100px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
    color: #ffff;
    background-color: #545454;
}

.btn:hover,
.btn:focus {
    box-shadow: 0px 2px 2px rgb(167, 115, 161);
}
